.form-group
  label(for="title") 이벤트 이름
  input.form-control(type="text", name="title",  value=question.title)
.form-group
  label(for="location") 장소
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="start_time") 시작시간
  input.form-control(type="text", name="tags" value=question.tags ? question.tags.join(" ") : "")
.form-group
  label(for="end_time") 종료시간
  input.form-control(type="text", name="tags" value=question.tags ? question.tags.join(" ") : "")
.form-group
  label(for="description") 설명
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="register_name") 등록 조직 이름
  textarea.form-control(name="content", rows="5")= question.content
.form-group
  label(for="register_description") 등록 조직 설명
  textarea.form-control(name="content", rows="5")= question.content
divform-group
  labelexampleFormControlSelect1 이벤트 종류
  select.form-control#exampleFormControlSelect1
    option Appearance or Signing
    option Attraction
    option Camp, Trip, or Retreat
    option Class, Training, or Workshop
    option Concert or Performance
    option Conference
    option Convention
    option Dinner or Gala
    option Festival or Fair
    option Game or Competition
    option Meeting or Networking Event
    option Other

divform-group
  labelexampleFormControlSelect1 이벤트 분야
  select.form-control#exampleFormControlSelect1
    option Business & Professional
    option Charity & Causes
    option Community & Culture
    option Family & Education
    option Fashion & Beauty 
    option Film, Media & Entertainment
    option Food & Drink
    option Other

divform-group
  labelexampleFormControlSelect1 참가인원 설정
  select.form-control#exampleFormControlSelect1
    option 5명 미만
    option 10명 미만
    option 15명 미만
    option 30명 미만