.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="what's your Event?", value=question.title)
.form-group
  label(for="question") Location
  input.form-control(type="text", name="location",placeholder="Enter location where event occurs.",value=question.location)
.form-group
  label(for="question") Time
  div.row
    div.col
      input.form-control(type="text", name="startTime", placeholder="Start Time",value=question.startTime)
    div.col
      input.form-control(type="text", name="finishTime", placeholder="Finish Time",value=question.finishTime)
.form-group
  label(for="question") Description
  textarea.form-control(name="content",rows="5")=question.content
.form-group
  label(for="question") Register Name
  input.form-control(type="text",name="registerName", placeholder="Register Name", values=question.register_name)
.form-group
  label(for="question") Register Description
  textarea.form-control(type="text",name="registerDescription", placeholder="Register Description")=question.register_description

.form-group
  label(for="question") Event Type & Event Field
  div.row
    div.col

    select#inputState.form-control(type="text",name="type")=question.type
      option Appearance or Signing
      option Attraction
      option Camp, Trip, or Retreat
      option Class, Training, or Workshop
      option Concert or Performance
      option Conference
      option Convention
      option Dinner or Gala
      option Festival or Fair
      option Game or Competition
      option Meeting or Networking Event
      option Other
  div.row
    div.col
    select#inputState.form-control(type="text",name="field")=question.field  

      option Business & Professional
      option Charity & Causes
      option Community & Culture
      option Family & Education
      option Fashion & Beauty 
      option Film, Media & Entertainment
      option Food & Drink
      option Other

.form-group
  label(for="question") Quantity
  div.row
    div.col
    select#inputState.form-control(type="text",name="quantity")=question.quantity
      option 1
      option 2
      option 3
      option 4
      option 5
      option 6
      option 7
      option 8
      option 9
      option 10

.form-group
  label(for="question") Ticket
  input.form-control(type="text", name="ticket",value=question.ticket)
