    
  .form
    .col-sm
      .row
        |Event Name :  
        p=question.title
     
      .row
        |Location :  
        p=question.location
        
      .row
        |Description :  
        p=question.content
      .row
        |Register Name :  
        p=question.register_name
      .row
        |Register Description :  
        p=question.registerDescription 
      .row
        |Start Time :  
        p=question.startTime   
      .row
        |Finish Time :  
        p=question.finishTime      